*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
a{
    text-decoration: none;
}
header{
    background-color: grey;
}
.nav-head{
    min-height: 50px;
    display: flex;
    background-color: #232f3e;   
}
.left-menu{
    width: 40px;
    height: 40px;
    border: solid 1px;
    border-radius: 2px;
    padding: 5px;
    margin: 10px;
}
.left-menu>img{
    margin: 2px 3px 3px 2px;    
    width: 23px;
    height: 23px;
}
.logo{
    background-image: url(images/logo.png);
    background-repeat: repeat-x;
    float: left;        
    width: 200px;
    height: 50px;    
    margin: 5px 50px 5px 0px;
}
.nav-search{
    width: 55%;
    height: 40px;
    border: solid 1px;
    border-radius: 4px;
    margin: 10px;
    display: flex;
    position: relative;
}
.nav-search>input{
    width: 100%;
    height: 100%;        
    border: 0;
    padding: 5px 5px 5px 15px;
    border-radius: 4px 0px 0px 4px;
}
.nav-search-go{
    width: 45px;
    height: 100%;
    padding: 5px 5px 5px 7px;
    border-radius: 0px 4px 4px 0px;
    background-color: #FBCD42;
}
.nav-search-go>img{
    width: 90%;
    height: 90%;
}
.photo_1{
    position: relative;
    background-image: url(images/background2.jpg);
    width: 100%;
    height: 728px;
	background-position: center;
	background-size: cover;
    margin-top: 5px;    
    padding-top: 5px;
    display: flex;
}

.text{
	width: 30%;
	height: 300px;	
	margin-left: 50px;
    margin-top: 50px;
	text-align: left;
	color: #fff;
    font-family: calibri, sans-self;
}
.text h2{
    float: left;
	font-size: 3em;	
	text-transform: uppercase;
    color: black;
    color: #d34d4d;
	margin-bottom: 50px;
}
.center_text{
    width: 40%;
}
.text_2{    
	width: 40%;
	height: 100%;	
    margin-bottom: 50px;
	text-align: left;
	color: #fff;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.text_2>div{
    margin-bottom: 100px;
    font-family: museo slab, serif;
}
.text_2>h1{
    font-size: 2rem;    
    margin-bottom: 20px;
}
.text_2_h1{
    margin-bottom: 15px;
}
.text_2>h2{    
    font-size: 1rem;    
}
.tick{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 20px;
    list-style: none;
}
.tick>li>img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
.in_text_2>a, .help>a, .teacher_rek>a, .test>a{
	color: #fff;
    margin-top: 10px;
	padding: 8px 18px;
	border-radius: 5px;
	background: gold;
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
    font-family: calibri, sans-self;
}
.in_text_2>a:hover{
    background: #eecb0d;
}
.help>a:hover{
    background: #eecb0d;
}
.teacher_rek>a:hover{
    background: #eecb0d;
}
.test>a:hover{
    background: #eecb0d;
}

/* ---------- 2-QISM ---------- */

.services{
    width: 100%;
    min-height: 100px;
    background-color: #EFF6FE;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #878787;
    font-family: calibri, sans-self;
}
.services>h2{
    margin-bottom: 30px;    
    font-size: 2.5rem;
    width: 100%;
    color: #292823;
    
}
.services_text{
    text-align: left;
    width: 85%;
    margin: auto;
    font-size: 1.4rem;
    line-height: 1.5;    
}

/* ---------- 3-QISM ---------- */

.help{
    background-image: url(images/image1.png);
    background-repeat: repeat-x;
    background-position: center;
	background-size: cover;
    width: 100%;
    height: 500px;
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.help>h2{
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}
.help_text{
    width: 85%;
    margin: auto;
    margin-bottom: 80px;
    font-size: 25px;
}
.help>h2, .help>p{
    line-height: 1.2;
}

/* ---------- 4-QISM ---------- */

.jarayon{
	width: 100%;
	min-height: 100px;	
	text-align: center;
	padding-top: 50px;
    padding-bottom: 150px;
    background-color: #EFF6FE;
    color: #878787;
    font-family: calibri, sans-self;
}
.jarayon h2{
	margin-top: 60px;
	font-size: 2em;
	text-transform: uppercase;
    color: #292823;
}
.jarayon>p{
	font-style: italic;
	color: grey;
	font-size: 1.6em;
}
.main{
	width: 80%;
	height: 350px;
	margin: 50px auto;
	margin-top: 60px;	
	display: flex;
    flex-wrap: wrap;
}
.img_box{
    display: flex;
    height: 70%;
}
.img_box>img{
    height: auto;
    width: 100%;    
    vertical-align: top;
}
.items{
	width: 33.33%;
	height: 100%;	
}
.in_item{
	width: 90%;
	height: 90%;	
	display: flex;
    text-align: left;
	flex-direction: column;
}
.in_item h3{
    height: 10%;
	text-transform: uppercase;
	font-size: 1.5em;
    color: #292823;
    margin-bottom: 30px;
}
.in_item p{
	font-size: 1.2em;
	color: grey;
    margin-bottom: 30px;  
    height: 100px;
}
.left{
    display: flex;
    align-items: center;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.right{
	display: flex;	
	align-items: center;
}

.right .in_item{
	margin-left: auto;  
}

/* --------- 5-QISM -------- */

.teacher_rek{
    background-image: url(images/image4.jpg);
    background-repeat: repeat-x;
    background-position: center;
	background-size: cover;
    width: 100%;
    height: 500px;
    color: #3c3434;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.teacher_rek>h2{
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}
.teacher_rek_text{
    width: 85%;
    margin: auto;
    margin-bottom: 80px;
    font-size: 25px;
}
.teacher_rek>h2, .teacher_rek>p{
    line-height: 1.2;
}

/* --------- 6-QISM ---------- */

.teacher{
    width: 100%;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EFF6FE;
}
.container_teachers{
    width: 85%;
    min-height: 1px;
    margin: auto;
}
.teacher_1{
    width: 100%;
    height: 300px; 
    margin-bottom: 50px;
    box-shadow: 1px 1px 15px 1px rgba(69,65,78,.1);
    background-color: #ffffff;
    display: flex;
}
.teacher_1_text{
    margin: 30px 10px 30px 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #292823;
}
.teacher_1_text>h2{
    margin-bottom: 10px;
}
.teacher_1_text>p, .teacher_2_text>p{
     font-size: 20px;
     color: #878787;
}
.teacher_1_info, .teacher_2_info{
    display: flex;
}
.teacher_1_info img, .teacher_2_info img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.teacher_1_name, .teacher_2_name{
    margin-right: 100px;
}
.teacher_2{
    width: 100%;
    height: 300px;    
    box-shadow: 1px 1px 15px 1px rgba(69,65,78,.1);
    background-color: #ffffff;
    display: flex;
}
.teacher_2_text{
    margin: 30px 10px 30px 30px;
    height: auto;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #292823;
}
.teacher_2_text>h2{
    margin-bottom: 10px;
}

/* --------- 7-QISM ---------- */

.post-slider{    
    position: relative;
}
.post-wrapper{
    padding-top: 50px;
    background-color: #EFF6FE;
}
.post-slider .slider-title{
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}
.post-info{
    padding: 10px 30px 0px 30px;
}
.post-info>h4>a{
    color: black;
}
.post-slider .next{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}
.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}
.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    overflow: hidden;
}
.post-slider .post-wrapper .post{
    width: 300px;
    height: 360px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    box-shadow: 1px 1px 15px 1px rgba(69,65,78,.1);
}
.post-wrapper .post .slider-image-1{
    width: 100%;
    height: 200px;
}

.post-slider {
    padding-bottom: 40px;
}

/* --------- 8-QISM ---------- */

.test{
    background-image: url(images/test.jpg);
    background-repeat: repeat-x;
    background-position: center;
	background-size: cover;
    width: 100%;
    height: 500px;
    color: black;
    text-align: center;
    font-size: 25px;
    padding-top: 70px;
    padding-bottom: 40px;
}
.test>h2{
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}
.test_text{
    width: 85%;
    margin: auto;
    margin-bottom: 80px;
    font-size: 25px;
    font-weight: 600;
}
.test>h2, .test>p{
    line-height: 1.2;
}
